body {
    background-color: #ECF0F1;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 20px;
}
li {
    margin: 3px 3px 3px 3px;
    padding: 0.4em;
    border-radius: 5px;
    text-align:center;
    background:#3498DB;
}
.textarea {
    text-align: center;
    color: #34495E;
    font-family: Verdana;
    background:none;
    outline:none;
    border-style:none;
}
.container {
    width:100%;
    min-width: 300px;
    min-height: 50px;
}
.container-header {
    background-color: #34495E;
    padding: 10px 10px 20px 10px;
    text-align: left;
    color: #3498DB;
    font-family: Verdana;
}
.header-content,.header-content2{
    display:inline;
}
.buttons {
    display: inline;
}
#menu {
    background-color: #2C3E50;
    color:#3498DB;
    height: 60px;
    line-height: 35px;
    margin-bottom: 20px;
}
#timerSet {
    background-color: #2C3E50;
}
#timerSet input {
    width:70px;
    text-align:center;
}
#minute-text{
    text-align: center;
}
button {
    float:right;
    background-color: #3498DB;
    color: #2C3E50;
}